---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Home from "../components/Home.astro";
import Prices from "../components/Prices.astro";
import Galerie from "../components/Galerie.astro";
import Map from "../components/Map.astro";
import Contact from "../components/Contact.astro";
---

<BaseLayout title="Cano Barber | Barber Shop" description="Cortes, barba y estilo. Reserva tu cita.">
  <Header />

  <main>
	<Home />
	<Prices />
	<Galerie />
	<Map />
	<Contact />
  </main>

  <Footer />
</BaseLayout>